---
import { getCollection } from "astro:content"
import BaseLayout from "../../layouts/BaseLayout.astro"
import Hero from "../../components/Hero.astro"

const allPosts = await getCollection("blog")

const frontmatter = {
  title: "Blog",
  description: "Blog posts about web development, photography, and research",
}

// Options for date formatting
const dateOptions: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: "long",
  day: "numeric",
}
---

<BaseLayout frontmatter={frontmatter}>
  <Hero>
    <h1>Blog Posts</h1>
    <p>Only a few posts for now, but more content is on the way!</p>
  </Hero>

  <ol>
    {
      allPosts.map((post) => {
        const { title, description, pubDate, lastUpdatedDate, tags } = post.data
        const postUrl = `/blog/${post.slug}`

        return (
          <li>
            <article>
              <h2>
                <a href={postUrl}>{title}</a>
              </h2>
              {description && <p>{description}</p>}
              {tags && tags.length > 0 && (
                <nav>
                  <ul>
                    {tags.map((tag: string) => (
                      <li>
                        <a href={`/tags/${tag}`}>#{tag}</a>
                      </li>
                    ))}
                  </ul>
                </nav>
              )}
              {(lastUpdatedDate || pubDate) &&
                (lastUpdatedDate &&
                lastUpdatedDate.getTime() !== pubDate?.getTime() ? (
                  <time datetime={lastUpdatedDate.toISOString()}>
                    Updated on{" "}
                    {lastUpdatedDate.toLocaleDateString(undefined, dateOptions)}
                  </time>
                ) : (
                  pubDate && (
                    <time datetime={pubDate.toISOString()}>
                      Published on{" "}
                      {pubDate.toLocaleDateString(undefined, dateOptions)}
                    </time>
                  )
                ))}
            </article>
          </li>
        )
      })
    }
  </ol>
</BaseLayout>
