---
import { getCollection } from "astro:content"
import BaseLayout from "../../layouts/BaseLayout.astro"
import Glightbox from "../../components/Glightbox.astro"

const pageTitle = "Self-portrait"
const galleryID = "self-portrait"
const galleries = await getCollection("galleries")
---

<BaseLayout pageTitle={pageTitle} hasGlightbox={true}>
  <div class="columns-2 md:columns-3xs gap-4 sm:gap-8">
    {
      galleries[0].data.images.map((image) => (
        <Glightbox
          src={image.src}
          alt={image.alt}
          title={image.title}
          description={image.description}
          galleryID={galleryID}
        />
      ))
    }
  </div>
</BaseLayout>
