---
import { getEntry } from "astro:content"
import BaseLayout from "../../layouts/BaseLayout.astro"
import PhotoSwipe from "../../components/PhotoSwipe.astro"

const pageTitle = "Self-portrait"
// Fetch the specific gallery entry by its slug (filename without .json)
const selfPortraitGallery = await getEntry("galleries", "self-portrait")
---

<BaseLayout pageTitle={pageTitle}>
  <div
    id="gallery"
    class="mx-auto max-w-screen-md py-10 w-11/12 sm:w-5/6 columns-2 md:columns-3xs gap-4 sm:gap-8"
  >
    {
      selfPortraitGallery && selfPortraitGallery.data.images.map((image) => (
        <PhotoSwipe
          src={image.src}
          alt={image.alt}
          title={image.title}
          description={image.description}
          width={300}
          sizes="(max-width: 600px) 40vw, (max-width: 1100px) 25vw, 300px"
        />
      ))
    }
  </div>
  <script>
    import "../../scripts/photoswipe"
  </script>
</BaseLayout>
