---
import type { CollectionEntry } from "astro:content"
import { slugify } from "../utils/slugify"
import {
  type ReadingTimeResult,
  formatReadingTimeDuration,
} from "../utils/readingTime"

interface Props {
  post: CollectionEntry<"blog">
  readingTime?: ReadingTimeResult
}

const { post, readingTime } = Astro.props
const { title, description, pubDate, lastUpdatedDate, tags } = post.data
const postUrl = `/blog/${post.slug}`

// Options for date formatting
const dateOptions: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: "long",
  day: "numeric",
}
---

<li>
  <article>
    <h2>
      <a href={postUrl}>{title}</a>
    </h2>
    {description && <p>{description}</p>}
    {
      tags && tags.length > 0 && (
        <p>
          Tags:{" "}
          {tags.map((tag: string, index: number) => {
            const separator = index < tags.length - 1 ? ", " : "."
            return (
              // Keep separator on same line to prevent unwanted whitespace in rendered HTML
              // prettier-ignore
              <>
                <a href={`/blog/tags/${slugify(tag)}`}>#{tag}</a>{separator}
              </>
            )
          })}
        </p>
      )
    }
    <p>
      {
        readingTime && (
          <>
            <time datetime={formatReadingTimeDuration(readingTime.minutes)}>
              {readingTime.text}
            </time>
            {(lastUpdatedDate || pubDate) && " · "}
          </>
        )
      }
      {
        (lastUpdatedDate || pubDate) &&
          (lastUpdatedDate &&
          lastUpdatedDate.getTime() !== pubDate?.getTime() ? (
            <time datetime={lastUpdatedDate.toISOString()}>
              Updated{" "}
              {lastUpdatedDate.toLocaleDateString(undefined, dateOptions)}
            </time>
          ) : (
            pubDate && (
              <time datetime={pubDate.toISOString()}>
                Published {pubDate.toLocaleDateString(undefined, dateOptions)}
              </time>
            )
          ))
      }
    </p>
    <hr />
  </article>
</li>
