---
import { getImage, inferRemoteSize } from "astro:assets"
import RemotePhoto from "./RemotePhoto.astro"
import { widthSet } from "../utils/widthSet"
const { src, alt, title, description, sizes, width } = Astro.props

const { width: fullWidth, height: fullHeight } = await inferRemoteSize(src)
const currentWidthSet = widthSet.filter((w: number) => w <= fullWidth)

const optimizedImage = await getImage({
  src: src,
  format: "avif",
  widths: currentWidthSet,
  width: fullWidth,
  height: fullHeight,
})
---

<a
  href={src}
  data-pswp-srcset={optimizedImage.srcSet.attribute}
  data-pswp-width={optimizedImage.attributes.width}
  data-pswp-height={optimizedImage.attributes.height}
  target="_blank"
>
  <div class="transition-transform duration-300 hover:scale-105">
    <RemotePhoto
      src={src}
      alt={alt}
      title={title}
      description={description}
      sizes={sizes}
      width={width}
    />
  </div>
</a>

<script src="../scripts/photoswipe"></script>
