---
import { getImage } from "astro:assets"
import GalleryThumbnail from "./GalleryThumbnail.astro"

const { src, alt, title, description } = Astro.props
const widthSet = [240, 320, 480, 640, 960, 1280, 1600, 2000, 2560, 3200]

const optimizedImage = await getImage({
  src: src,
  format: "avif",
  widths: widthSet,
  inferSize: true,
})
---

<a
  href={optimizedImage.src}
  data-pswp-srcset={optimizedImage.srcSet.attribute}
  data-pswp-width={optimizedImage.attributes.width}
  data-pswp-height={optimizedImage.attributes.height}
  target="_blank"
>
  <GalleryThumbnail
    src={src}
    alt={alt}
    title={title}
    description={description}
    widthSet={widthSet}
  />
</a>

<script src="../scripts/photoswipe"></script>
