---
import { getImage, inferRemoteSize } from "astro:assets"
import GalleryThumbnail from "./GalleryThumbnail.astro"

const { src, alt, title, description } = Astro.props
const { width, height } = await inferRemoteSize(src)
const widthSet = [
  240,
  320,
  480,
  640,
  960,
  1280,
  1600,
  2000,
  2560,
  3200,
  4000,
  5000,
  width,
].filter((w) => w <= width)

const optimizedImage = await getImage({
  src: src,
  format: "avif",
  widths: widthSet,
  width: width,
  height: height,
})
---

<a
  href={src}
  data-pswp-srcset={optimizedImage.srcSet.attribute}
  data-pswp-width={optimizedImage.attributes.width}
  data-pswp-height={optimizedImage.attributes.height}
  target="_blank"
>
  <GalleryThumbnail
    src={src}
    alt={alt}
    title={title}
    description={description}
    widthSet={widthSet}
  />
</a>

<script src="../scripts/photoswipe"></script>
