---
import BaseLayout from "./BaseLayout.astro"
import Hero from "../components/Hero.astro"
import { slugify } from "../utils/slugify"
import {
  type ReadingTimeResult,
  formatReadingTimeDuration,
} from "../utils/readingTime"

interface Props {
  frontmatter: {
    title: string
    headline?: string
    subtitle?: string
    description: string
    pubDate: Date
    lastUpdatedDate?: Date
    tags: string[]
    [key: string]: any
  }
  readingTime?: ReadingTimeResult
}

const { frontmatter, readingTime } = Astro.props
const { title, headline, subtitle, pubDate, lastUpdatedDate, tags } =
  frontmatter

// Format dates
const formatDate = (date: Date) => {
  return new Intl.DateTimeFormat("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
  }).format(new Date(date))
}
---

<BaseLayout frontmatter={frontmatter}>
  <Hero>
    <h1>{headline ?? title}</h1>
    {subtitle && <p>{subtitle}</p>}
    {
      tags && tags.length > 0 && (
        <nav>
          <ul>
            {tags.map((tag: string) => (
              <li>
                <a href={`/blog/tags/${slugify(tag)}`}>#{tag}</a>
              </li>
            ))}
          </ul>
        </nav>
      )
    }
    {
      readingTime && (
        <time datetime={formatReadingTimeDuration(readingTime.minutes)}>
          {readingTime.text}
        </time>
      )
    }
  </Hero>

  <slot />

  <footer>
    <time datetime={pubDate.toISOString()}>
      Published: {formatDate(pubDate)}
    </time>
    {
      lastUpdatedDate && lastUpdatedDate.getTime() !== pubDate.getTime() && (
        <>
          {" • "}
          <time datetime={lastUpdatedDate.toISOString()}>
            Updated: {formatDate(lastUpdatedDate)}
          </time>
        </>
      )
    }
  </footer>
</BaseLayout>
